<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
         http://www.springframework.org/schema/beans/spring-beans.xsd   
         http://www.springframework.org/schema/tx   
         http://www.springframework.org/schema/tx/spring-tx.xsd  
         http://www.springframework.org/schema/context   
         http://www.springframework.org/schema/context/spring-context.xsd   
         http://www.springframework.org/schema/aop   
         http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
        <property name="driverClassName" value="${jdbc.driver}" /> 
	    <property name="url" value="${jdbc.url${test}}" />
	    <property name="username" value="${jdbc.username${test}}" />
	    <property name="password" value="${jdbc.password${test}}" />
	    <property name="filters" value="stat" />
	    <property name="maxActive" value="20" />
	    <property name="initialSize" value="1" />
	    <property name="maxWait" value="60000" />
	    <property name="minIdle" value="1" />
	    <property name="timeBetweenEvictionRunsMillis" value="3000" />
	    <property name="minEvictableIdleTimeMillis" value="300000" />
	    <property name="validationQuery" value="SELECT 1 FROM DUAL" />
	    <property name="testWhileIdle" value="true" />
	    <property name="testOnBorrow" value="false" />
	    <property name="testOnReturn" value="false" />
	    <property name="poolPreparedStatements" value="true" />
	    <property name="maxPoolPreparedStatementPerConnectionSize" value="20" />
   </bean> -->

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${jdbc.driver}" />
		<property name="url" value="${jdbc.url${test}}" />
		<property name="username" value="${jdbc.username${test}}" />
		<property name="password" value="${jdbc.password${test}}" />
		<property name="minIdle" value="10" />
		<property name="maxActive" value="30" />
		<property name="maxWait" value="120000" />
		<property name="removeAbandonedTimeout" value="60" />
		<property name="removeAbandoned" value="true" />
		<property name="logAbandoned" value="true" />
	</bean> 

	<!-- 调试用的代理数据源 -->
	<bean id="dataSourcedebug" class="com.p6spy.engine.spy.P6DataSource">
		<constructor-arg ref="dataSource" />
	</bean>


	<!-- 事务管理器 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource${debug}" />
	</bean>

	<bean id="transactionInterceptor" class="org.springframework.transaction.interceptor.TransactionInterceptor">
		<property name="transactionManager" ref="transactionManager" />
		<property name="transactionAttributes">
			<props>
				<prop key="save*">PROPAGATION_REQUIRED</prop>
				<prop key="insert*">PROPAGATION_REQUIRED</prop>
				<prop key="update*">PROPAGATION_REQUIRED</prop>
				<prop key="remove*">PROPAGATION_REQUIRED</prop>
				<prop key="delete*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>

	<bean id="beanNameAutoProxyCreator" class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
		<property name="proxyTargetClass" value="true"></property>
		<!--在类以 *Service,*ServiceImpl 结尾的情况下使用事物 -->
		<property name="beanNames" value="*Service,*ServiceImpl" />
		<property name="interceptorNames">
			<list>
				<value>transactionInterceptor</value>
			</list>
		</property>
	</bean>

	<!-- jdbcTemplate -->
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource${debug}" />
	</bean>

</beans>  
	
	
	

